body{
    background-color: black;
    color: white;
    width: 100%;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.5rem;
    align-items: center;
    padding: 10px 5%;
}
.listitems{
    display: flex;
    gap: 30px;
}

.listitems ul{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.nav-button{
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid gray;
    background: rgba(0, 0, 0, 0.374);
    color: white;
    height: 50px;
    margin-top: 13px;
}
.nav-button:hover{
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.329);
}

.main{
    height: 80vh;
    background-image:url(Assets/page1.jpg);
    background-size: cover;
    color:white;
}
.container{
    padding: 10% 5%;
}
.logo{
    font-size: 2rem;
}
.container h1{
    font-size: 4rem;
}
.container h3{
    font-size: 1.4rem;
    margin-bottom: 40px;
}
.input{
    padding: 15px 35px;
    border-radius: 5px;
    background: #0000004c;
    border: 1px solid gray;
    color: white;
}
.form-button{
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid gray;
    background: rgba(0, 0, 0, 0.374);
    color: white;
}
.form-button:hover{
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.329);
}

.section2{
    height: 80vh;
    padding: 100px 10% 10px 5%;
    display: flex;
}

.info{
    font-size: 1.4rem;
    padding: 10px 10% 10px 0;
}

.line{
    display: flex;
}
.cards{
    width: 200px;
    height: 220px;
    margin-left: 20px;
}

.section-3{
    height: 40vh;
    padding: 40px 0;
    background-color: gray;
    font-size: 4rem;
    color: rgb(255, 255, 255);
    text-align: center;
}
.section-4{
    height: 100%;
    padding: 50px 5%;
}
.section-4 h3{
    font-size: 4rem;
    text-align: center;
}
.line{
    display: flex;
    justify-content: space-between;
}
.comp-detail{
    width: 250px;
    height: 300px;
    padding: 5px;
    margin-bottom: 80px;
}
.comp-detail img{
    width: 200px;
}

.section-5{
    display: flex;
    height: 100vh;
    background: grey;
    color: black;
    padding: 10px 10%;
}
 .section-5 input{
    width: 300px;
    height: 50px;
    font-size: 1.3rem;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    background: #fbf9f951;
}

textarea{
    border-radius: 10px;
    background: #fbf9f951;
    width: 300px;
}
.submit{
    padding: 15px 20px;
    border-radius: 5px;
    margin-left: 30%;
    border: 1px solid gray;
    background: rgba(0, 0, 0, 0.374);
    color: white;
}
.sec-5-para{
    padding:80px 5%  0 10% ;
}
footer{
    text-align: center;
}
i{
    font-size: 4rem;
    margin: 40px 80px;
}